/* Body */
body {
	font-family: source-sans-pro;
	background-color: #ffffff;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	font-style: normal;
	font-weight: 200;
}

/* Container */
.container {
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	height: 1000px;
	background-color: #FFFFFF;
}
/*tit*/
.tit_header {
	color: #FFFFFF;
	text-align: center;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	letter-spacing: 4px;
}
.tit {
	background-color: #B3B3B3;
	padding-top: 150px;
	padding-bottom: 150px;
}
.tit2{
	font-weight: bold;
	color: #717070;
}
.tagline {
	text-align: center;
	color: #FFFFFF;
	margin-top: 4px;
	font-weight: lighter;
	text-transform: uppercase;
	letter-spacing: 1px;
}
/* Navigation */
header {
	width: 100%;
	height: 5%;
	background-color: #db7e7e;
}
nav {
	float: right;
	width: 67%;
	text-align: center;
	margin-right: 25px;
}
header nav ul {
	list-style: none;
	
}
nav ul li {
	float: left;
	color: #FFFFFF;
	font-size: 14px;
	text-align: center;
	margin-right: 25px;
	letter-spacing: 2px;
	font-weight: bold;
	transition: all 0.3s linear;
}
ul li a {
	color: #FFFFFF;
	text-decoration: none;
}
ul li:hover a {
	color: #E5B9A3;
}
