<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/static/css/main.css" type="text/css" rel="stylesheet">
    {% block head %} {% endblock %}
    <title> Website Test for Project 26</title>
</head>
  <h1 style="color: white; background-color:red;"> Tracking State-Level Response to COVID-19</h1>

<body style="background-color: white;">
    {% block body %} {% endblock %}
    <div class="container">
        <h1 class="logo" style="color: black; background-color: white;">Helpful Links Below:</h1>
        <strong><nav>
          <ul class="menu">
            <li><a href="{{ url_for('homepage') }}">Home</a></li>
            <li><a href="{{ url_for('about') }}">About</a></li>
            <li><a href="{{ url_for('restaurants')}}">Restaurants</a></li>
            <li><a href="{{ url_for('maptest')}}">Map Test</a></li>
          </ul>
        </nav></strong>
      </div>
</body>
</html>



