{% extends "homepage.html" %}
{% block head %}
<html lang="en">
<head>
    <link href="/static/css/aboutus.css" type="text/css" rel="stylesheet">
    <title> About Page Website Test for Project 26</title> 
{% endblock %}
</head>
<body>      
    {% block body %}
    <!--Begin content area-->
    <div class = content-area>

        <!--Element for biographies about the team and Dr. Raifman, etc-->
        <div class="People">
            <div class="thumbnail" style="height:200px;">Headshot of Dr. Raifman</div>
            <div class="biography">
                This is where the biography or about description for Dr. Raifman will go.
            </div>
        </div>  
    </div>
    {% endblock %}
</body>
</html>
