<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/static/css/homepage.css" type="text/css" rel="stylesheet">
    <title> Homepage Website Test for Project 26</title> 
    {% block head %} {% endblock %}
</head>
<body>

    <!--For the logo atop the webpage-->
    <div class="header">
        <h1>COVID-19 State Policy</h1>
        <p>Tracking Legislation</p>
    </div>

    <!--For the horizontal navigation bar for webbrowsers-->
    <div class="navbar">
        <a href="{{ url_for('homepage') }}">Home</a>
        <a href="{{ url_for('aboutus') }}">About</a>
    </div>
  
    <!--For the side menu for mobile devices-->
    <div id="mySidenav" class="sidenav">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        <div class="title">COVID-19 State Policy</div>
        <div class="links">
            <a href="{{ url_for('homepage') }}">Home</a>
            <a href="{{ url_for('aboutus') }}">About</a>
        </div>
    </div>

    <!--Add a collapsable button to open the sidenav-->
    <div id="sidenavButton">
        <span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776; Menu</span>
    </div>

    <!--Begin content area-->
    <div class = content-area>

        <!--First row of card buttons to navigate webpages-->

        <div class="row">
            <div class="column">
                <a href="{{ url_for('stayathome') }}">
                <div class="card">
                    <h3>Stay At Home</h3>
                </div>
              </a>
            </div>

            <div class="column">
                <a href="{{ url_for('phydicaldistance') }}">
                <div class="card">
                    <h3>Physical Distance Closures</h3>
                </div>
              </a>
            </div>
  
            <div class="column">
                <a href="{{ url_for('stateofemergency') }}">
                <div class="card">
                    <h3>State of Emergency</h3>
                </div>
              </a>
            </div>
        </div>
        
        <br>
  
        <!--Infograhic, project description, etc-->
        <div class="ProjectDescription">
            <h2>Project Title</h2>
            <h5>Title description, Date</h5>
            <div class="placeholder" style="height:200px;">Infographic for Project</div>
            <p>Text Description:</p>
            <p>Paragraph describing project</p>
        </div>
    </div>
    {% block body %} {% endblock %}
    <!--Footer with sign up button-->
    <div class="footer">
        <h2>Footer</h2>
        <button class="button" type="submit">Sign Up Here</button>
    </div>

</body>
</html>
