{% extends "homepage.html" %}
{% block head %}
<html lang="en">
<head>
    <link href="/static/css/aboutus.css" type="text/css" rel="stylesheet">
    <title> About Tracking Legislation</title> 
{% endblock %}
</head>
<body>      
    {% block body %}
    <!--Begin content area-->
    <div class = content-area>

        <!--Element for biographies about the team and Dr. Raifman, etc-->
        <div class="People">
            <img src="https://www.bu.edu/sph/files/2017/08/Julia-Raifman-2.jpg" width="50%" height="560"/>
            <div class="biography">
                Julia Raifman, ScD, SM conducts research on health and social policy 
                drivers of population health and health inequities. Dr. Raifman focuses 
                her work on mental health and infectious diseases. Dr. Raifman’s research
                 has been covered in the New York Times, The Guardian, National Public Radio, 
                 and The Advocate. Dr. Raifman received her doctoral and masters degree from the 
                 Harvard T.H. Chan School of Public Health and completed a post-doctoral fellowship at 
                 Johns Hopkins prior to joining Boston University.
                </div>
            </div>

            <p>Here is a link to the COVID-19 US State Policy Database:
                 
            <a href='https://tinyurl.com/statepolicies'>Link To Database</a>
            </p>
                <p1>
                 The team from the Resiliency Hackathon is honored to work with Dr. Raifman and her team in making this website
                 and helping get this valuable information to a greater audience. 
                 <br /></p1>
                <p2>
                 The team that built this website is the following: <br /></p2>
                 <p3>UI/UX Design: Aru Bhola, Rachael Dier <br /></p3>
                 <p4>ArcGIS: Cynthia Zhang,Lynsie Ranker, Mark Hernandez<br /></p4>
                 <p5>Front End: Devin C. Martin, Jack Guinta, Emily Greven, Ziwen Xie<br /></p5>
                <p6>Back End: Emily Greven<br /></p6>
                 <p7>Project Lead: Emily Greven <br /></p7>
            </div>
    {% endblock %}
</body>
</html>
